<h1>Unika bokstäver</h1>
<a href="/highscores">Tillbaka</a>
<ol class="gradient-list">
    {{#each UnikLetters}}
    <li>
       </p>Unika Bokstäver: {{this.unik}}</p>
       <p>Tid i sekunder: {{this.time}}</p>
        <p>Namn: {{this.username}}</p>
        </p>Antal Bokstäver: {{this.letters}}</p>
        </p>Antal gissningar: {{this.guesses}}</p>
        
    </li>
    {{/each}}
</ol>